p,a{
	color:#FFFFFF;
}

.rounded-circle{
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
}

.icon{
	color:#FFFFFF;
}

#banner{
	z-index: 1;
}

#vid{
	position: absolute;
	width: 15%;
	z-index: -1;
	top: 2%;
	right: 25%;
}